<!--
This is footer page.
Auther is Prashant Vaghela
Postfolio is the website name
This file uses in each and every page for common footer
-->
<footer class="alert alert-info" >

  &copy; Copy Right 2016 | All right reserved | Prashant Vaghela
</footer>

</body>
</html>