<% include partials/header.ejs%>
<a href="http://www.pluspointailor.com">Pluspointailor.com</a>
<a href="http://www.kreativcedance.com">Kreativedance.com</a>

<h1>Upcoming Project</h1>
<a href="#">Mexico Food</a>
<a href="#">Decent Tailor & Cloth</a>


<% include partials/footer.ejs%>
