<!--
This is portfolio page.
Auther is Prashant Vaghela
Postfolio is the website name
This file shows my work that i have done in my career
-->
<% include partials/header.ejs%>



<div class="container">
    <div class="row">
        <h1 align="center">ACCOMPLISH PROJECT</h1>
        <div class="row" style="margin-left: 10%;">
            <div class="col-lg-3 col-sm-4 col-xs-6"><a title="Plus Point Tailor and Cloth" href="http://pluspointailor.com/" >
                    <img class="thumbnail img-responsive" src="images/pptnc.png" style="height: 200px;"></a></div>

        <div class="col-lg-3 col-sm-4 col-xs-6"><a title="Kreative Dance Studio" href="http://www.kreativedance.com/" >
                <img class="thumbnail img-responsive" src="images/kreative.png" style="height: 200px;"></a></div>
            <div class="col-lg-3 col-sm-4 col-xs-6"><a title="Upcoming Project" href="" >
                    <img class="thumbnail img-responsive" src="images/upcoming.jpg" style="height: 200px;"></a></div>
        </div>

    </div>
</div>

<% include partials/footer.ejs%>
