<!--
This is services page.
Auther is Prashant Vaghela
Postfolio is the website name
This file shows my services that i offer and my skills that i have
-->

<% include partials/header.ejs%>

<h2 align="center">SERVICES</h2>
<div class="container">
    <div class="row">

        <div class="row" style="margin-left: 10%;">
            <div class="col-lg-3 col-sm-4 col-xs-6"><a title="WEB DESIGN AND DEVELOPMENT" href="" >
                    <img class="thumbnail img-responsive" src="images/webdesign.png" style="height: 200px;"></a>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-6"><a title="SOFTWARE DEVELOPMENT" href="" >
                    <img class="thumbnail img-responsive" src="images/Software-development.jpg" style="height: 200px;"></a>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-6"><a title="SOCIAL MEDIA MARKETING" href="" >
                    <img class="thumbnail img-responsive" src="images/social-media-marketing.jpg" style="height: 200px;"></a>
            </div></div>
            </div>
        </div>

    </div>
</div>

 <div style="padding-bottom: 15%">
    <h2 align="center">SKILLS</h2>
    <div class="">
        <img src="images/skills.jpg" alt="Vision InfoTech" class="circularvision">
    </div>
    <div>
        <p id="fontstylenew">

         <b>CORE COMPETENCIES </b><br/>
    </p>
        <div style="margin-left:30% ">
            <ul>

                <li>
                   Strong ability to design and develop dynamic web application using ASP.NET with C#
                </li>
                <li>
                 Feel confident to design and develop clean, robust and accurate database using MySQL and SQL Server
                </li>
                <li>
                    Have understanding and knowledge of working on PHP, HTML and CSS
                </li>
                <li>
                    Able to work on Java using Object Oriented Programming Lanaguage
                </li>
                <li>
                    Have little bit hands on Mainframe Z/os
                </li>

                <li>
                   Detail oriented, multi-tasking and able to prioritize
                </li>
                <li>
                    Analyze problems, develop effective solution and documented them using tools such as MS word, MS Excel  and MS Visio
                </li>
                <li>
                    Self-motivated, high grasping power and have a willingness to work in fast-paced and flexible environment
                </li>



            </ul>


        </div>
        <p id="fontstylenew">

            <b>ACADEMIC ACHIEVEMENTS</b><br/>
        </p>
        <div style="margin-left:30% ">
            <ul>

                <li>
                    Achieved Academic Dean’s List in the first year at Georgian College
                </li>
                <li>
                    	Achieved A+ grade in Web Design , PHP and database at Georgian College
                </li>
                <li>
                    	PHP and MySQL Workshop certificate
                </li>
                <li>
                    	LINUX workshop certificate
                </li>
                <li>
                    	Achieved overall First Class Distinction in bachelor degree
                </li>





            </ul>


        </div>


    </div>

        </p>
    </div>

<% include partials/footer.ejs%>